*.[oa]
*.deb
*.rpm
*.tgz
moc_*.cpp
*.*~
qrc_*.cpp
*.qm
Makefile
protimer.pro.user
src/protimer.pro.user.*
src/protimer.pro.user
src/*.*.autosave
src/ui_*
bin/*
bin32/*
bin64/*
dist/*
packages/protimer/DEBIAN/md5sums
packages/protimer/DEBIAN/control
packages/protimer/usr/bin/basetest
screen/*
packages/protimer/usr/share/doc/protimer/changelog.gz
